.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 59.8125rem;

  margin: 3.15rem auto 0;

  padding: 1rem;
}

.container-grid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px 100px;
}
