.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 59.8125rem;

  margin: 0 auto;

  padding: 1rem;
}

.filter-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-grid {
  width: 100%;

  padding-top: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px 100px;
}
