.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 59.8125rem;

  margin: 0 auto;

  padding: 1rem;
}

.container-grid {
  width: 100%;

  padding-top: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px 100px;
}

@media screen and (max-width: 531px){
  .container {
    padding: 1rem 3.25rem;
  }
}
